body {
  background-color: $black;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  overflow: auto;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

@media (min-width: 480px) {
  main {
    overflow: visible;
  }
}
