header {
  background-color: $taupe;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  padding: 1rem;
  -webkit-box-shadow: $nav-box-shadow;
  -moz-box-shadow: $nav-box-shadow;
  box-shadow: $nav-box-shadow;
  z-index: 5000;

  & .logo {
    flex: 1;
    max-width: 7.5rem;
    width: 25%;

    & .image-container {
      height: 0;
      padding-bottom: 70.8%;
      position: relative;
    }

    & img {
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  & nav {
    display: none;
    flex: 2;
    justify-content: flex-end;

    & a {
      font-size: 87.5%;
      padding: 0.5em;
    }
  }
}

@media (min-width: $tablet) {
  header {
    & .logo img {
      float: left;
    }

    & nav {
      display: flex;
    }
  }
}
